h1 {
  text-align: center;
}


div.container-game-board {
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  height: 150px;
  width: 150px;
  border: 1px solid #000
}

div.col-4:hover {
  background-color:#ffbdea;
}